<div class="white">
  <h1>Pipes numeros</h1>

  <p>Pipes incluidos en el common module</p>
</div>

<div class="p-grid">
  <div class="p-col-2 white">
    <p>
      Saludos {{ name }}, es un placer
      {{ isMale | i18nSelect: invitacionMap }} a nuestro evento
    </p>
    <button (click)="changeName()">Cambiar persona</button>
  </div>

  <div class="p-col-2 white">
    <p>
      Actualmente tenemos
      {{ clientes.length | i18nPlural: clientesMap }}
    </p>

    <button (click)="deleteClient()">Eliminar cliente</button>
  </div>
  <div class="p-col-2 white">
    <b>Original</b>
    <pre>
      {{ clientes }}
    </pre>

    <b>slice:0:2</b>
    <pre>
      {{ clientes | slice: 0:1 }}
    </pre>
  </div>

  <div class="p-col white">
    <ul>
      <li *ngFor="let item of persona | keyvalue">
        <b>{{ item.key }} : </b> {{ item.value }}
      </li>
    </ul>
  </div>
</div>
