<app-menu> </app-menu>

<router-outlet> </router-outlet>

<!-- <h1 class="white">{{ name | uppercase }}</h1>

<button
  pButton
  class="p-button-help"
  icon="pi pi-palette"
  iconPos="right"
  (click)="showName()"
  label="Cambiar nombre"
></button>

<p-card [header]="name | titlecase" subheader="El pepe">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita aperiam
  minus minima architecto inventore sequi dolore at neque vero, non veniam culpa
  tempora corporis, dolores odio eos tempore, incidunt nesciunt.
</p-card> -->
